@import "tailwindcss";

:root {
 color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "More Sugar";
  src: url("/fonts/moresugar.regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-more-sugar {
  font-family: "More Sugar", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
}
